*{
    box-sizing: border-box;
}

#add-gif{
    margin-top: 10px;
}
#git-input{
    width: 100%;
}
#button-storage{
    border-bottom: 3px solid black;
    padding: 10px;
}
.gif{
    margin: 10px;
 
}
img{
    width: 250px;
    height: 200px;
    margin: 15px;
}
.rating{
    text-align: center;
}