*{
    box-sizing: border-box;
}
#add-new-gif{
    margin-top: 25px;
}
#add-gif{
    margin-top: 10px;
    padding: 10px;
}
#git-input{
    width: 100%;
}
#button-storage{
    border-bottom: 2px solid #cfcbc8;
    padding: 5px;
    text-align:left;
}
.gif{
    margin-right: 10px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px;
 
}
img{
    width: 200px;
    height: 150px;
}
.rating{
    text-align: center;
}
body{
    background: url('../images/background.png');
    text-align: center;
}
.jumbotron{
    text-align: center;
    padding: 1rem 2rem;
    background: #343a40;
    color:#fff
}
input:focus{
    outline: #17a2b8;
}
#image-storage{
    margin-top: 30px;

}

.text-left{
    text-align: left;
}

.images-box{
    margin-top: 20px;
}
.search-box{
    margin-top:20px;
  
}
#git-input{
    border-radius: 5px;
}
#git-input:focus{
   box-shadow: 0 0 6px rgba(35,173,255,1);
}
.images-box{
    visibility: hidden;
    background: #23272b;
    margin-left: 10px;
    
}
.rating{
    color: #fff;
}

